*{
    margin: 0;
    padding: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif
}

header{
    background-color: rgb(54, 79, 48);
    color: rgb(255, 255, 255);
    padding: 20px;
}

nav ul{
    list-style-type:none ;
}

nav ul li{
    display: inline;
    margin-right: 10px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section{
    padding:20px
} 