body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(106, 167, 178);
}

h1{
   font-size: 36px; 
   color: rgb(10, 40, 46);
   margin-top: 0;
}

p{
    font-size: 18px;
    line-height: 1.5;
    color: rgb(32, 50, 53);
}

.container{
    width: 80%;
    padding: 20px;
    background-color: rgb(33, 129, 146);
    margin: 0 auto;
}

@media (max-width: 768px){
    .container{
        width: 90%;
        padding: 10px;
    }


    h1{
        font-size: 24px;
    }

    p{
        font-size: 16px;
    }
}