<!DOCTYPE html>
<html lange="pt-br">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Login</title>
        <script src="vue.global.js"></script>
        <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="app">
        <h1>Faça Login</h1>
        <form>
            <label for="username">Nome de Usuário:</label>
            <input type="text" v-model="username" required>

            <label for="password">Senha:</label>
            <input type="password" v-model="password" required>

            <button type="submit" @click.prevent="login2">Entrar</button>

        </form><!--Fechamento form-->
        
        <button @click="paginaCadastro">Cadastrar Usuários</button>

        <button>Calculadora</button>

        <p class="error" :class="{entrada: mostrarEntrada}">{{error}}</p>
        <p class="sucesso" :class="{entrada: mostrarEntrada}">{{sucesso}}</p>
        
    </div><!--Fechamento div app-->
    <script src="process.js"></script>
</body>
</html>
