.error{
    color:rgb(164, 10, 74);
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color:rgb(24, 167, 119);
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(95, 160, 186);
    margin: 0;
    padding: 20px;
}

#app{
    max-width: 500px;
    margin: 0 auto;
    background-color:rgb(159, 216, 237);
    padding: 20px;
    box-shadow: 1px 1px 10px rgb(49, 120, 148);
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(116, 196, 225);
}
label{
    margin-bottom: 10px;
}

.labelCadastro{
    display: block;
    margin-bottom: 10px;
    margin-top: 15px;
}

input[type="text"], input[type="password"]{
    padding: 10px;
    border-radius: 10px;
    /* border-color: rgb(49, 120, 148);
    border-style: solid; */
    border: none;
    margin-bottom: 10px;
}

.textos{
   width: 85%;
   font-size: 16px;
   
}

button{
    padding: 10px;
    background-color: rgb(28, 108, 139);
    color:rgb(195, 236, 253);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* margin-top: 10px; */
}

.botaoCadastro{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 15px;
}

button:hover{
    background-color: rgb(14, 121, 203) ;
}

.lista{
    margin-top: 20px;
    border: 2px solid rgb(14, 66, 106);
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(116, 196, 225);

}

ol{
    margin-top: 10px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-items: center;
}

li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: rgb(14, 66, 106);
    padding-left: 10px;
    margin-left: 0px;
    border-radius: 10px;
    background-color: azure;
}