*{
    margin:0;/*margem*/
    padding:0;/*preenchimento*/
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background-color:rgb(58, 133, 179) ;
    padding: 20px;
}/*configuração da cor de fundo do cabeçalho*/

nav ul{
    list-style-type:none;
}/*configuração do jeito da lista do cabeçalho*/

nav ul li{
    display: inline;
    margin-right: 20px;
}/*configuração da distância das palavras do cabeçalho*/

nav ul li a{
    color:rgb(214, 254, 255);
    text-decoration: none;
}/*configuração do texto(cor e tipo de letra) do cabeçalho*/

section{
    padding: 20px;
}/*distanciou o que estava nas tags section*/

.destino{
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}/*. cria uma classe, criou uma borda em volta das imagens das divs que foram introduzidas o "destino", display mudou a direção do texto, alinhou a imagem e o texto*/

.destino img{
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}/*vai tratar as imagens apenas*/

footer{
    background-color: rgb(58, 133, 179);
    color: rgb(214, 254, 255);
    padding: 10px;
    text-align: center;
}/*configurações do rodapé*/

form{
    max-width: 400px;
    margin: 0 auto;
}/*configuração formulário*/

label{
    display: block;
    margin-bottom: 10px;
}/*configuração do titulo do lugar de escrever*/

input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid black;
    margin-bottom: 10px;
}/*configuração da margem do lugar para escrever*/

button{
    padding: 10px 20px;
    background-color: rgb(58, 133, 179);
    color: rgb(214, 254, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}/*configuração do botão*/

button:hover{
    background-color: rgb(6, 72, 113);
}/*muda a cor do botão após o icone do mouse esta em cima*/

h1, h2, h3, p{
    margin-bottom: 10px;
    text-align: center;
}/*configuração dos h1, h2, h3 e p (centralizou)*/

