img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    transition: transform 1s;
    border-radius: 10px;
}

img:hover{
    transform: scale(1.03);
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(128, 205, 224);
    padding: 20px;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li{
    margin-right: 20px;
    margin-bottom: 20px;
}

a{
    color: rgb(5, 36, 46);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button{
    background-color: rgb(187, 244, 255);
    color:rgb(5, 36, 46);
    padding: 5px 10px;
    cursor: pointer;
    border-style: solid 100px;
    border-color: rgb(5, 36, 46);
    border-radius: 7px;
    margin-right: 10px;
}

button:hover{
    background-color: rgb(0, 158, 197);
}

div i{
    color: greenyellow;
    text-decoration: rgb(47, 255, 0);
}