.calculadora{
    background-color: rgb(63, 106, 123);
    top: 50%;
    left: 50%;
    position: fixed;
    display: flex;
    border: 1px solid1 rgb(26, 44, 48);
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(rgb(65, 175, 219),rgb(41, 112, 139));
    flex-direction: column;
    justify-content: center;
    align-items: center;
}/*Fechamento calculadora*/

.tela{
    color: rgb(41, 112, 139);
    width: 93%;
    height: 80px;
    background-color: rgb(210, 242, 255);
    border-radius: 10px;
    /* font-size: 3rem; */
    margin-bottom: 20px;
    border: 3px solid  rgb(45, 133, 168);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}/*Fechamento tela*/

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    }/*Fechamento linha*/

.configuracaoBotao{
    display: flex;
    flex-direction: column;
    align-items: center;
}/*Fechamento configuracaoBotao*/

button{
    font-size: 2rem;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    border: 3px solid  rgb(45, 133, 168);
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(219, 243, 252);
    color: rgb(41, 112, 139);
}

button:hover{
    background-color: rgb(168, 212, 228);
}

button:last-child{
    margin-right: 0;
    background-color: rgb(145, 199, 224);
}

.clear{
    width: 100px;
}