body {
    background-color: rgb(224, 227, 227);
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    margin-top: 2%;
}

ul{
    margin: 0%;
    padding: 0%;
    display:flex;
    justify-content: center;
    list-style-type: none;
}

li{
    margin: 5%;
}

a{
    display: block;
    text-align: center;
    ;background-image: linear-gradient(to bottom, rgba(25, 119, 243, 1), rgba(25, 47, 243, 1));
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration:none ;
    transition: all 0.5s ease-in-out;
}

a:hover{
    background-color:  rgba(25, 119, 243, 1);
    color:aliceblue
}

.instagram{
    background-image: linear-gradient(to bottom, rgba(235, 9, 178, 1), rgba(100, 30, 248, 1));
}

.twitter{
   background-image: linear-gradient(to bottom, rgba(29, 161, 242, 1), rgba(29, 89, 242, 1));
}